<div id="<%= dom_id profile %>">
  <p>
    <strong>First name:</strong>
    <%= profile.first_name %>
  </p>

  <p>
    <strong>Family name:</strong>
    <%= profile.family_name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= profile.city %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= profile.address %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= profile.tel %>
  </p>

  <p>
    <strong>Bank name:</strong>
    <%= profile.bank_name %>
  </p>

  <p>
    <strong>Bank shop:</strong>
    <%= profile.bank_shop %>
  </p>

  <p>
    <strong>Bank type:</strong>
    <%= profile.bank_type %>
  </p>

  <p>
    <strong>Bank num:</strong>
    <%= profile.bank_num %>
  </p>

  <p>
    <strong>Bank owner:</strong>
    <%= profile.bank_owner %>
  </p>

</div>
